💬 <a href="http://example.com/gitlab-org/gitlab-test/commit/cfe32cf61b73a0d5e9f13e774abde7ff789b1660">gitlabhq/gitlab-test</a> <b>cfe32cf61b73a0d5e9f13e774abde7ff789b1660</b>
This is a commit comment. How does this work?
– <a href="https://gitlab.com/root">Administrator</a>