💬 <a href="http://example.com/gitlab-org/gitlab-test/merge_requests/1#note_1244">gitlab-org/gitlab-test!1</a> <b>Tempora et eos debitis quae laborum et.</b>
This MR needs work.
– <a href="https://gitlab.com/root">Administrator</a>