💬 <a href="{{ .Commit.URL }}">{{ .Project.PathWithNamespace }}</a> <b>{{.Commit.ID}}</b>
{{if gt (len .ObjectAttributes.Note) 100}}{{ slice .ObjectAttributes.Note 0 45 }}{{else}}{{.ObjectAttributes.Note}}{{end}}
– <a href="https://gitlab.com/{{.User.Username}}">{{ .User.Name }}</a>