💬 <a href="{{ .ObjectAttributes.URL }}">{{ .Project.PathWithNamespace }}#{{ .Issue.IID }}</a> <b>{{ .Issue.Title }}</b>
{{ .ObjectAttributes.Note }}
– <a href="https://gitlab.com/{{.User.Username}}">{{ .User.Name }}</a>