💬 <a href="{{ .ObjectAttributes.URL }}">{{ .Project.PathWithNamespace }}!{{ .MergeRequest.IID }}</a> <b>{{ .MergeRequest.Title }}</b>
{{ .ObjectAttributes.Note }}
– <a href="https://gitlab.com/{{.User.Username}}">{{ .User.Name }}</a>