🔀 <a href="{{.ObjectAttributes.URL}}">{{.Project.PathWithNamespace}}!{{.ObjectAttributes.IID}}</a> <b>{{.ObjectAttributes.Title}}</b>
{{.ObjectAttributes.Action | cap}} by <a href="https://gitlab.com/{{.User.Username}}">{{.User.Name}}</a>
