🆕 <a href="{{.Project.WebURL}}/-/pipelines/{{.ObjectAttributes.ID}}">{{.Project.PathWithNamespace}}</a> <b>{{.ObjectAttributes.Ref}} pipeline {{.ObjectAttributes.Status}}</b>
– <a href="https://gitlab.com/{{.User.Username}}">{{.User.Name}}</a>