🚀 <a href="{{.Project.WebURL}}/-/tags/{{slice .Ref 10}}">{{.Project.PathWithNamespace}}</a> created tag <b>{{slice .Ref 10}}</b>
{{if .Message}}{{.Message}}{{else}}–{{end}}
– <a href="https://gitlab.com/{{.UserUsername}}">{{.UserName}}</a>